@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600;700&display=swap&#39;');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

@media (min-width: 300px) {
  main {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .education {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .education > h2 {
      border-bottom: 2px solid teal;
  }

  .education > article {
      width: 70%;
  }

  .education [alt="Tokyo University"] {
      padding: 5%;
  }

  .projects {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .projects > h2 {
      border-bottom: 2px solid teal;
  }

  .projects > article {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact > form {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .contact div {
    display: flex;
    flex-direction: column;
  }

  .contact input, .contact textarea {
    border: 1px solid gainsboro;
    padding: 3%;
  }

  .contact [type="submit"] {
    background-color: teal;
    color: whitesmoke;
    font-size: 18px;
  }

  footer {
    display: flex;
    justify-content: center;
  }

  footer > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}